republicar TW_FB.json
{
    "name": "DEMO_1: twiter translate and scrapper (copy)",
    "flow": [
        {
            "id": 54,
            "module": "twitter:watchTweets",
            "version": 5,
            "parameters": {
                "limit": 10,
                "source": "otherUser",
                "fulltext": true,
                "__IMTCONN__": 539984,
                "include_rts": false,
                "screen_name": "NSFVoyager2",
                "exclude_replies": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "source": {
                        "label": "Someone else's tweets"
                    },
                    "__IMTCONN__": {
                        "label": "MiquelTwiter1 (DevNuvols)"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "source",
                        "type": "select",
                        "label": "I want to watch",
                        "required": true,
                        "validate": {
                            "enum": [
                                "me",
                                "otherUser"
                            ]
                        }
                    },
                    {
                        "name": "fulltext",
                        "type": "boolean",
                        "label": "Return Full Text of Tweets",
                        "required": true
                    },
                    {
                        "name": "exclude_replies",
                        "type": "boolean",
                        "label": "Prevent replies from appearing in the returned timeline.",
                        "required": true
                    },
                    {
                        "name": "include_rts",
                        "type": "boolean",
                        "label": "Include retweets by other users",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "screen_name",
                        "type": "text",
                        "label": "Screen name",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 48,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Voyager2",
                "conditions": [
                    [
                        {
                            "a": "{{54.text}}",
                            "o": "text:contain",
                            "b": "I am currently"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "how_far_2",
                "scope": "roundtrip",
                "value": "{{substring(54.text; 14; 31)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "how_far_2",
                        "type": "any",
                        "label": "how_far_2"
                    }
                ]
            }
        },
        {
            "id": 55,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "https://voyager.jpl.nasa.gov/assets/images/galleries/illustrations/PIA17049_hires.jpg",
                "method": "get",
                "serializeUrl": true,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 59,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 17,
                            "module": "twitter:createTweet",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 539982
                            },
                            "mapper": {
                                "select": "image",
                                "status": "La Nave 'Voyager 2' esta actualmente a {{48.how_far_2}} segundos Luz de la Tierra.",
                                "attachments": [
                                    {
                                        "data": "{{55.data}}",
                                        "filename": "{{55.fileName}}",
                                        "media_category": "tweet_image"
                                    }
                                ],
                                "possibly_sensitive": false,
                                "display_coordinates": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "select": {
                                        "label": "Image or GIF"
                                    },
                                    "__IMTCONN__": {
                                        "label": "Myiqueltwiter2 (Terricola)"
                                    },
                                    "attachments": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "media_category": {
                                                    "mode": "chose",
                                                    "label": "Tweet Image"
                                                }
                                            }
                                        ]
                                    },
                                    "display_coordinates": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "Status",
                                        "required": true
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload",
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "video"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "possibly_sensitive",
                                        "type": "boolean",
                                        "label": "Attached images contain sensitive content (nudity, violence, etc).",
                                        "required": true
                                    },
                                    {
                                        "name": "lat",
                                        "type": "number",
                                        "label": "Geographic Latitude",
                                        "validate": {
                                            "max": 90,
                                            "min": -90
                                        }
                                    },
                                    {
                                        "name": "long",
                                        "type": "number",
                                        "label": "Geographic Longitude",
                                        "validate": {
                                            "max": 180,
                                            "min": -180
                                        }
                                    },
                                    {
                                        "name": "display_coordinates",
                                        "type": "boolean",
                                        "label": "Display tweets coordinates",
                                        "required": true
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "media_category",
                                                "type": "select",
                                                "label": "Media Category",
                                                "options": [
                                                    {
                                                        "label": "Tweet Gif",
                                                        "value": "tweet_gif"
                                                    },
                                                    {
                                                        "label": "Tweet Image",
                                                        "value": "tweet_image"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 65,
                            "module": "facebook-pages:CreatePostWithPhotos",
                            "version": 6,
                            "parameters": {
                                "__IMTCONN__": 589322
                            },
                            "mapper": {
                                "photos": [
                                    {
                                        "data": "{{55.data}}",
                                        "type": "data",
                                        "fileName": "{{55.fileName}}"
                                    }
                                ],
                                "message": "La Nave 'Voyager 2' esta actualmente a {{48.how_far_2}} segundos Luz de la Tierra.",
                                "page_id": "101986975821320"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "photos": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "type": {
                                                        "mode": "chose",
                                                        "label": "upload a photo"
                                                    }
                                                }
                                            ]
                                        },
                                        "page_id": {
                                            "mode": "chose",
                                            "label": "Cosmos infinito"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "facebook"
                                            },
                                            "label": "FB conect-1 (Miguel Monllau Monfort)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:facebook",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "photos",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "I want to",
                                                "options": [
                                                    {
                                                        "label": "upload a photo",
                                                        "value": "data",
                                                        "nested": [
                                                            {
                                                                "name": "fileName",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "download photo from URL",
                                                        "value": "url",
                                                        "nested": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photos",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 30,
                                            "minItems": 1
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "page_id",
                                        "type": "select",
                                        "label": "Page",
                                        "required": true
                                    },
                                    {
                                        "name": "photos",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "I want to",
                                                "options": [
                                                    {
                                                        "label": "upload a photo",
                                                        "value": "data",
                                                        "nested": [
                                                            {
                                                                "name": "fileName",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            }
                                                        ],
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "download photo from URL",
                                                        "value": "url",
                                                        "nested": [
                                                            {
                                                                "name": "url",
                                                                "type": "url",
                                                                "label": "URL",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "caption",
                                                "type": "text",
                                                "label": "Caption"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Photos",
                                        "required": true,
                                        "validate": {
                                            "maxItems": 30,
                                            "minItems": 1
                                        }
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}